@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --main-color: #ea5c15;
  --secondary-color: #ea7b15;
  --text-color-light: #104f86;
  --text-color-dark: #082f52;
  --body-border-radius: 32px;
}

html {
  visibility: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--text-color-dark);
}

p {
  color: var(--text-color-dark);
  font-weight: 500;
  font-size: 22px;
}

.cpad {
  padding: 70px 100px;
}

.cpadv {
  padding: 0 100px;
}

.spad {
  padding: 0 150px;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

body {
  height: 100%;
  background: linear-gradient(var(--main-color), var(--secondary-color));

  .outer-container {
    position: relative;
    height: 100%;
    margin: 18px;
    padding: 10px;
    border-radius: var(--body-border-radius);
    background-color: rgba($color: #ffffff, $alpha: 0.4);

    .mc-kontakt {
      height: calc(100vh - 56px) !important;
    }

    .main-container {
      height: 100%;
      border-radius: var(--body-border-radius);
      background-color: rgba($color: #ffffff, $alpha: 1);

      .kontakt {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 50px;
        .kontakt-info-box {
          background-color: var(--text-color-dark);
          border-radius: 30px;
          padding: 40px;
          .info-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;

            p {
              font-size: 18px;
              color: white;
            }

            img {
              max-width: 30px;
              min-width: 30px;
              margin-right: 20px;
            }
          }
        }

        form {
          .wpforms-field {
            margin-bottom: 30px;

            span {
              background-color: rgba($color: #ffffff, $alpha: 0);
              margin-left: 5px;
            }

            .wpforms-field-label {
              margin-bottom: 10px;
              display: flex;
              flex-direction: row;
            }

            textarea,
            input {
              border: 2px solid var(--main-color);
              border-radius: 10px;
              height: 24px;
              width: 300px;
            }

            textarea {
              height: 100px;
            }
          }

          .wpforms-submit-container {
            button {
              background-color: var(--text-color-dark);
              border: none;
              border-radius: 10px;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              font-family: "Montserrat";
              transition: ease-in-out 0.1s;

              &:hover {
                transition: ease-in-out 0.1s;
                background-color: var(--secondary-color);
                cursor: pointer;
              }
            }
          }
        }
      }

      .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
          img {
            width: 312px;
          }
        }

        .hamburger-overlay-menu {
          display: none;
        }

        .navigation {
          display: flex;
          flex-direction: row;
          align-items: center;

          a {
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            color: var(--text-color-light);
            margin-left: 60px;
            transition: ease-in-out 0.1s;

            &:hover {
              transition: ease-in-out 0.1s;
              color: var(--main-color);
            }
          }

          .nav-button {
            margin-left: 60px;
            padding: 16px;
            border: 1px solid var(--text-color-light);
            border-radius: 30px;
            background-color: white;
            transition: ease-in-out 0.12s;
            cursor: pointer;

            &:hover {
              border: 1px solid var(--main-color);
              transition: ease-in-out 0.12s;

              a {
                color: var(--main-color);
                transition: ease-in-out 0.12s;
              }
            }

            a {
              transition: ease-in-out 0.12s;
              margin-left: 0;
            }
          }
        }
      }

      .blob {
        height: fit-content;
        font-weight: 500;
      }

      .izd-section {
        margin-top: 100px;
        text-align: center;

        h2 {
          color: var(--text-color-dark);
          font-size: 48px;
        }
        .sta-nas-izdvaja {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          justify-items: center;
          margin: 150px 0;
          grid-row-gap: 150px;
          padding: 0 200px;

          p {
            font-size: 18px;
            max-width: 220px;
            text-align: center;
          }

          .first-row-item {
            grid-column: span 2;
          }

          .second-row-item {
            grid-column: span 3;
          }

          .fourth {
            margin-left: 200px;
          }

          .fifth {
            margin-right: 200px;
          }
        }
      }

      .scroller-wrap {
        margin-top: 120px;
        display: flex;
        justify-content: center;

        @keyframes moveUpDown {
          from {
            transform: translate(0, 0px);
          }
          to {
            transform: translate(0, -11px);
          }
        }

        .scroller-inner {
          animation: moveUpDown 1s forwards infinite;
          animation-direction: alternate;
        }
      }

      .about-us {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;

        .about-us-text {
          p {
            max-width: 600px;
          }
        }

        img {
          margin-top: 60px;
          width: 500px;
          height: 350px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .services {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          color: var(--text-color-dark);
          font-size: 48px;
          margin: 100px 0;
        }

        h3 {
          color: var(--text-color-dark);
          font-weight: 600;
          font-size: 32px;
          margin: 0;

          &::after {
            content: " ";
            display: block;
            margin-top: 6px;
            width: 70px;
            height: 6px;
            background-color: var(--main-color);
            border-radius: 3px;
          }
        }

        .service-item {
          display: flex;
          flex-direction: row;
          margin-bottom: 110px;

          p {
            max-width: 600px;
            list-style-position: outside;
          }

          img {
            width: 400px;
            height: 250px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: 80px;
          }
        }

        .service-item-reversed {
          flex-direction: row-reverse;

          img {
            margin-left: 80px;
            margin-right: 0;
          }
        }
      }

      footer {
        background-color: var(--text-color-dark);
        border-radius: var(--body-border-radius);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          color: white;
          margin: 0;
        }

        .info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding-top: 50px;
          padding-bottom: 50px;

          .nav-button {
            padding: 16px 26px;
            border: 1px solid white;
            border-radius: 30px;
            background-color: var(--text-color-dark);
            transition: ease-in-out 0.12s;
            cursor: pointer;
            width: max-content;

            &:hover {
              border: 1px solid var(--main-color);
              transition: ease-in-out 0.12s;

              a {
                text-decoration: none;
                color: var(--main-color);
                transition: ease-in-out 0.12s;
              }
            }

            a {
              transition: ease-in-out 0.12s;
              margin-left: 0;
              text-decoration: none;
              color: white;
              font-size: 16px;
            }
          }

          .info-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;

            p {
              font-size: 18px;
            }

            img {
              max-width: 30px;
              min-width: 30px;
              margin-right: 20px;
            }
          }
        }

        .cpr {
          font-size: 13px;
          font-weight: 400;
          color: rgba($color: #ffffff, $alpha: 0.8);
          padding: 0 0 18px 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 1500px) {
  .cpad {
    padding: 70px 150px;
  }

  .cpadv {
    padding: 0 150px;
  }
}

@media only screen and (min-width: 1700px) {
  .cpad {
    padding: 70px 280px;
  }

  .cpadv {
    padding: 0 280px;
  }

  .spad {
    padding: 0 350px;
  }
}

@media only screen and (max-width: 1500px) {
  body {
    .outer-container {
      .main-container {
        .kontakt {
          padding-left: 150px;
          padding-right: 150px;
        }
        .izd-section {
          .sta-nas-izdvaja {
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  body {
    .outer-container {
      .mc-kontakt {
        height: 100% !important;
      }
      .main-container {
        .kontakt {
          padding-top: 50px;
          display: flex;
          flex-direction: column;

          .kontakt-info-box {
            margin: 50px 0;

            .info-item {
              text-align: center;
            }
          }
        }
        .izd-section {
          .sta-nas-izdvaja {
            padding: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .cpad {
    padding: 0 20px;
  }

  .cpadv {
    padding: 0 20px;
  }

  .spad {
    padding: 0 20px;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--text-color-dark);
  }

  body {
    .hamburger-overlay-menu {
      display: block;
      position: fixed;
      background-color: var(--text-color-dark);
      height: 100%;
      width: 100%;
      z-index: 1;
      top: 0;

      a {
        color: white;
      }
    }

    .outer-container {
      margin: 8px;
      .main-container {
        .kontakt {
          padding-left: 20px;
          padding-right: 20px;

          .wpforms-container {
            display: flex;
            justify-content: center;
          }
          form {
            max-width: fit-content;
          }

          .kontakt-info-box {
            margin-bottom: 18px;
          }
        }
        .izd-section {
          h2 {
            font-size: 32px;
          }
          .sta-nas-izdvaja {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            padding: 0;

            .first-row-item {
              grid-column: 1;
            }

            .second-row-item {
              grid-column: 1;
            }

            .fourth {
              margin-left: 0;
            }

            .fifth {
              margin-right: 0;
            }
          }
        }

        .nav-container {
          display: flex;
          justify-content: center;

          .logo {
            margin-top: 60px;
            img {
              width: 200px;
            }
          }

          .navigation {
            display: none;
          }

          .hamburger {
            position: absolute;
            right: 32px;
            top: 83px;
          }
        }

        .blob {
          padding-top: 40px;
          p {
            text-align: center;
            font-size: 16px;
          }
        }

        .about-us {
          align-items: center;
          text-align: center;

          .about-us-text {
            p {
              font-size: 16px;
            }
          }

          img {
            display: none;
          }
        }

        .scroller-wrap {
          margin-top: 60px;
        }

        .services {
          h2 {
            font-size: 32px;
            text-align: center;
            margin: 70px 0;
          }

          h3 {
            max-width: 300px;
            font-size: 26px;
          }

          .service-item {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 100px;
            justify-content: center;
            align-items: center;

            p {
              max-width: 450px;
              font-size: 16px;
              margin-top: 30px;
            }

            img {
              width: 300px;
              height: 200px;
              object-fit: cover;
              border-radius: 10px;
              margin: 30px 0 0 0;
            }
          }

          .service-item-reversed {
            img {
              margin: 30px 0 0 0;
            }
          }
        }

        footer {
          display: flex;

          .info {
            .info-item {
              display: flex;
              justify-content: start;

              p {
                font-size: 16px;
              }
            }

            .footer-img {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  body {
    .main-container {
      .nav-container {
        .logo {
          margin-left: -50px;
        }
      }
    }
  }
}

label {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
}

label span {
  background: var(--main-color);
  border-radius: 10px;
  height: 4px;
  margin: 4px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(5px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -5px) rotatez(45deg);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba($color: #082f52, $alpha: 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 85px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #c4c4c4;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
